doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Upload Product
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css')
  link(rel="shortcut icon", href="/assets/vectors/ufarm-logo.png", type="image/x-icon")
  link(rel="stylesheet" href="/css/dashboard.css")  
body(onload="generateProductId()")
header
- let page = "add-product"
  // Sidebar
  include ./includes/sidebar.pug
  include ./includes/navbar.pug 
// Main layout
main(style='margin-top: 58px')
  .container-fluid.pt-4
    .col-md-11
      .card.card-user
        .card-header
          h5.card-title Add new product
        .card-body
          #spinner
          form#regForm(onsubmit='return validateProduct()' method="post" action="/add-product" enctype="multipart/form-data")
            .row
              .col-md-4.pr-1
                .form-group
                  label Product name
                  input#product_name.form-control(type='text' placeholder='Product Name' name='product_name')
                  p#nameErr.text-danger
              .col-md-4.pr-1
                .form-group
                  label Product ID 
                  input#id.form-control(type='text'  name='id' readonly='')
                  p#idErr.text-danger
              .col-md-4.pr-1
                .form-group
                  .form-group
                    label Ward Name
                    select#ward.form-select(aria-label='Default select example' name='ward')
                      option(value='Ward1') Ward One
                      option(value='Ward2') Ward Two
                      option(value='Ward3') Ward Two
                      option(value='Ward4') Ward Two
            .row
              .col-md-4.pl-1
                .form-group
                  label Payment Mode
                  select#payment_mode.form-select(name='payment_mode')
                    option(value="" selected disabled) Select Payment mode
                    option(value='Cash') Cash
                    option(value='Mobile Money') Mobile Money
                p#paymentErr.text-danger 
              .col-md-4.pr-1
                .form-group
                  label Date added 
                  input#date.form-control(type='date' name='date' value=new Date().toISOString().substr(0, 10))
                  p#dateErr.text-danger
              .col-md-4.pr-1
                .form-group
                  label Unit price in Uganda Shillings
                  input#unit_price.form-control(type='number' name='unit_price' placeholder="Amount")
                  p#priceErr.text-danger
            .row
              .col-md-4.pl-1
                .form-group
                  label Mode of delivery
                  select#delivery_mode.form-select(name='delivery_mode')
                    option(value="" selected disabled) Select mode of delivery
                    option(value='Pick Up') Pick Up
                    option(value='Home Delivery') Home Delivery
                  p#deliveryErr.text-danger
              .col-md-4.pr-1
                .form-group
                  label Quantity, 
                  input#quantity.form-control(type='number' placeholder='Quantity' name='quantity')
                  p#quantityErr.text-danger
              .col-md-4.pr-1
                .form-group
                  label Directions
                  input#location.form-control(type='text' placeholder='Directions' name='location')
                  p#locationErr.text-danger
            .row 
              .col-md-4.pl-1
                .form-group
                  label Produce type 
                  select#produce_type.form-select(name='produce_type')
                    option(value="" selected disabled) Select produce type
                    option(value='Organic') Organic
                    option(value='None-organic') None-organic
                  p#typeErr.text-danger
              .col-md-8.pl-1
                .form-group
                  label Produce Image 
                  input#image.form-control(type='file' placeholder='Select image' name='image')
                  p#imageErr.text-danger
            .row
              .update.ml-auto.mr-auto
                input.btn.btn-success.btn-round(type='submit' value='ADD PRODUCT')
// Main layout
script(src='/assets/bootstrap/js/bootstrap.min.js')
script(src='/assets/bootstrap/js/bootstrap.bundle.js')
script(src='/assets/bootstrap/js/bootstrap.bundle.min.js')
script(src='/assets/bootstrap/js/bootstrap.js')
script(src='/js/validations.js')
script.
  function generateProductId() {//gernerate a product id
  let newId = 10000 + Math.floor(Math.random() * 900000);
  let input = document.getElementById("id");
  input.value="P-"+newId;
  }