.col-lg-3.col-md-4.col-sm-6(style="margin-bottom:10px;")
              .card.card-stats
                .card-body
                  .row
                    .col-5.col-md-4
                      .icon-big.text-center.icon-warning
                        i.bi.bi-people-fill.text-success
                        a(href="list/uf")
                          button.btn.btn-success 
                           i.bi.bi-three-dots-vertical.text-white
                    .col-7.col-md-8
                      .numbers
                        p.card-category 
                          | My  Urban farmers                          
                        h1.card-title 
                          |   #{urban_farmers}                       
                .card-footer
                  hr
                  .stats
                    i.bi.bi-arrow-clockwise
                    |  Update Now